In [2]:
import pandas as pd
import numpy as np
import pymssql
import pyodbc

In [3]:
mssql_conn = pymssql.connect(server='epdm', user='sa', password='Pdmepdme1!',database='ePDM_Elcam')
odbc_conn = pyodbc.connect('Driver={IBM i Access ODBC Driver}; '
       'SYSTEM = 192.168.0.161;'
        'Hostname=M3; '
        'Port=21; '
        'Protocol=TCPIP; '
        'Database=M3; '
        'UID=pud; '
        'PWD = Pud142;'
        ,autocommit=True)

In [17]:
#test connection
query='SELECT Filename, LockPath, LockDomain, LockDate, Username,FullName, Email from [ePDM_Elcam].[dbo].[Documents] INNER JOIN [ePDM_Elcam].[dbo].[Users] on [ePDM_Elcam].[dbo].[Documents].UserID = [ePDM_Elcam].[dbo].[Users].UserID WHERE LockDate IS NOT NULL AND CurrentStatusid IS NOT NULL AND Deleted=0 ORDER BY Username ASC'
query2='SELECT distinct(MMITNO) FROM M3FDBPRD.MITMAS m '
all_items=pd.read_sql(query2,odbc_conn)
files = pd.read_sql(query, mssql_conn)
files.sort_values(by='LockDate', ascending=False, inplace=True)
#find if item number '015495DOL      ' is in the list of all items
all_items_dic={}
for i in range(len(all_items)):
    row=all_items.iloc[i]
    all_items_dic[row['MMITNO'].strip()]=1
all_items=all_items_dic

c:\Users\matan.s\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\matan.s\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

False

In [7]:

res ={}
for i in range(len(files)):
    row=files.iloc[i]
    if row['Username'] not in res:
        res[row['Username']] ={'email':row['Email'],'fullname':row['FullName'],'count':0}
    res[row['Username']]['count']+=1
#sort by count
res = sorted(res.items(), key=lambda x: x[1]['count'], reverse=True)
username=[]
fullname=[]
email=[]
count_files=[]
for k in res:
    # print(k)
    username.append(k[0])
    fullname.append(k[1]['fullname'])
    email.append(k[1]['email'])
    count_files.append(k[1]['count'])
df = pd.DataFrame({'username':username,'fullname':fullname,'email':email,'count_files':count_files})
df

     username           fullname                  email  count_files
0       hen.b          Hen Balik      hen.b@elcam.co.il          118
1   ayelet.ts  Ayelet Tal Shahar  ayelet.ts@elcam.co.il           54
2       galei        Gal Einhorn      galei@elcam.co.il           47
3      dima.a           Dima Ali     dima.a@elcam.co.il           28
4      yair.e         Yair Elbaz     yair.e@elcam.co.il           27
..        ...                ...                    ...          ...
63    vanya.d  Vanya Dobrovolsky    vanya.d@elcam.co.il            1
64    yuval.s      Yuval Shapiro    shapiro@qwvalue.com            1
65      Admin              Admin    matan.s@elcam.co.il            1
66     rami.a         Rami Ayoub     rami.a@elcam.co.il            1
67    iryna.c   Iryna Chikhirina    iryna.c@elcam.co.il            1

[68 rows x 4 columns]

In [9]:
df2=pd.read_csv("kimaat.moshlam.csv")
#remove all the rows that have no email address
df2=df2[df2['EmailAddress'].notnull()]
#remove all the rows that the email address is not end with @elcam.co.il
df2=df2[df2['EmailAddress'].str.endswith('@elcam.co.il')]
#convert all the email address to lower case
df2['EmailAddress']=df2['EmailAddress'].str.lower()
#find the rows that the display name is Gal Einhorn
df2[df2['ManagerEmail']=='amotz@elcam.co.il']

            DisplayName         EmailAddress       ManagerEmail
707   Vanya Dobrovolsky  vanya.d@elcam.co.il  amotz@elcam.co.il
755         Idan Naaman   idan.n@elcam.co.il  amotz@elcam.co.il
922        Ilan Kachler   ilan.k@elcam.co.il  amotz@elcam.co.il
938        Oded Benedik   oded.b@elcam.co.il  amotz@elcam.co.il
1116          Ziv Cohen    ziv.c@elcam.co.il  amotz@elcam.co.il
1207     Ohad Gottesman   ohad.g@elcam.co.il  amotz@elcam.co.il

In [1]:


message = Message(From="me@example.com",
                  To="you@example.com",
                  charset="utf-8")
message.Subject = "An HTML Email"
message.Html = """This email uses <strong>HTML</strong>!"""
message.Body = """This is alternate text."""

sender = Mailer('smtp.example.com')
sender.send(message)

ModuleNotFoundError: No module named 'mailer'