In [1]:
import pandas as pd
import numpy as np
import pymssql

In [2]:
mssql_conn = pymssql.connect(server='epdm', user='sa', password='Pdmepdme1!',database='ePDM_Elcam')

In [29]:
#test connection
query='SELECT Filename, LockPath, LockDomain, LockDate, Username, Email from [ePDM_Elcam].[dbo].[Documents] INNER JOIN [ePDM_Elcam].[dbo].[Users] on [ePDM_Elcam].[dbo].[Documents].UserID = [ePDM_Elcam].[dbo].[Users].UserID WHERE LockDate IS NOT NULL AND CurrentStatusid IS NOT NULL AND Deleted=0 ORDER BY Username ASC'
#run query
df = pd.read_sql(query, mssql_conn)

c:\Users\matan.s\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [66]:
res ={}
for i in df['Username'].unique():
    res[i] = df[df['Username']==i]['Filename'].count()
res=pd.DataFrame({'Username':list(res.keys()),'Count':list(res.values())})
res.sort_values(by='Count', ascending=False, inplace=True)

res
#filter all the rows with more than 10 in count column
res[res['Count']>10]

     Username  Count
30      hen.b    171
23      galei    147
72   sergei.h     85
21    eyal.sh     50
31   hillel.y     39
56   ntmetals     37
6    avihai.b     34
40   israel.l     29
35     ilan.k     22
77   stefan.m     20
4        amit     19
9     ayman.h     18
84     yair.e     18
25   gloria.m     17
24    gilad.m     17
32  ibtisam.m     17
13     dima.a     16
7     avner.h     14
75  shivani.s     12
45   lilach.c     12
86     yoav.s     11
15     dror.s     11
42      lev.g     11

In [60]:
df2=pd.read_csv("kimaat.moshlam.csv")
#rename the first column to Username
df2.rename(columns={'DisplayName':'Username'}, inplace=True)

df2
# for i in range(len(df2)):
#     row=df2.iloc[i]
#     if pd.isna(row.EmailAddress) and pd.isna(row.ManagerEmail):
#         print(row.DisplayName)
#filter all the rows where the EmailAddress and ManagerEmail are null
df3=df2[~df2.EmailAddress.isna() & ~df2.ManagerEmail.isna()]
#filter all the rows that EmailAddress endwith @elcam.com
df4=df3[df3.EmailAddress.str.endswith('@elcam.co.il')]
df2

,Username,EmailAddress,ManagerEmail
0,Administrator,Administrator@elcam.co.il,NaN
1,tsachi shaked,tsachi@elcam.co.il,NaN
2,amirb,AMIRB@elcam.co.il,guli@elcam.co.il
3,itai.galed,itai@elcam.co.il,ran@elcam.co.il
4,cognosAdmin,NaN,NaN
...,...,...,...
1274,Sirin Khir,NaN,Shadia@elcam.co.il
1275,Saleem Break,saleem.b@elcam.co.il,natasha.g@elcam.co.il
1276,Francesco Riccardo Della Casa,francesco.dellacasa@elcam-medical.com,NaN
1277,Michael Miller,NaN,ozi@elcam.co.il
1278,Rami Laufer,NaN,ozi@elcam.co.il